<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CassandraConfiguration" type="Lesula.Cassandra.Configuration.CassandraConfigurationSection, Lesula.Cassandra" />
  </configSections>

  <!-- Cassandra -->
  <CassandraConfiguration>
    <clusters>
      <add friendlyName="Lesula">
        <connection poolType="SIZEDKEYSPACEPOOL" factoryType="FAKE" />
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="localhost" port="9160" />
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </CassandraConfiguration>
</configuration>